// Colors
$lightDark: #212121;
$dark: #000;
$darkGray: #8c8c8c;
$backroundLightGray: #9c9c9c;
$gray: #6c6c6c;
$backroundDarkWhite: #f0f0f0;
$backroundWhite: #ffffff;
$green: #43a047;
$backroundlightWhite: #e8e9eb;
$blue: #1e88e5;
$red: #e53935;