* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

.container {
   max-width: 1171px;
   margin: auto;
}

.header__menu {

   display: flex;
   justify-content: space-between;
   padding-top: 63px;
}

.menu__logo:hover {
   cursor: pointer;
   opacity: 70%;
}

.menu__list {
   list-style-type: none;
   display: flex;
   justify-content: space-between;
   width: 100%;
   max-width: 551px;
   margin-right: 67px;
}

.list__item {
   font-weight: 300;
   color: #8c8c8c;
   letter-spacing: 1.4px;
   text-decoration: none;
   font-size: 14px;
   padding: 0 15px 0 3px;
}

.list__item__href:hover {
   cursor: pointer;
   color: #212121;
}

.list__item:active {
   border-bottom: 3px solid #212121;
   color: #212121;
   font-weight: 700;
}

.list__item__href:active {
   border: none;
}

.list__item:last-child {
   padding: 0;
}

.list__item_active {
   color: #212121;
   font-weight: 700;
   letter-spacing: 1.4px;
   border-bottom: 3px solid #212121;
   padding-right: 11px;
   padding-left: 14px;
}

.header {
   background-image: url(./img/slider__chairs.png);
   max-width: 100%;
   height: auto;
}

.chair__category {
   font-size: 18px;
   font-weight: 700;
   letter-spacing: 1.8px;
}

.fishnet-chair-trending {
   margin-top: 280px;
   color: #43a047;
}

.fishnet-chair__title {
   font-weight: 100;
   color: #212121;
   font-size: 62px;
   text-transform: uppercase;
   letter-spacing: -0.05em;
}

.fishnet__title {
   letter-spacing: -4.9px;
   padding-right: 12px;
}

.fishnet-chair__subtitle {
   color: #6c6c6c;
   font-size: 14px;
   font-weight: 300;
   line-height: 24px;
   margin-top: 13px;
   margin-bottom: 40px;
   max-width: 467px;
   letter-spacing: -0.1px;
}

.chair__button {
   background-color: #ffffff;
   border-radius: 23px;
   text-decoration: none;
   color: #212121;
   font-size: 18px;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 2.9px;
   padding: 12px 32px;
}

.chair__button:hover {
   opacity: 80%;
   cursor: pointer;
}

.chair__button:active {
   border: 1px solid #6c6c6c;
}

.chair__button__arrow {
   padding-left: 11px;
}

.radio {
   display: none;
   width: 40px;
   background-color: #212121;
}

.featured {
   padding-bottom: 116px;
}

.featured-navigator {
   display: flex;
   justify-content: space-between;
   padding-top: 113px;
}

.featured__tabs__name {
   border-bottom: 3px solid #212121;
   padding-bottom: 10px;
   padding-left: 5px;
   padding-right: 20px;
}

.featured__tabs {
   display: flex;
   justify-content: space-between;
   color: #212121;
   font-size: 36px;
   font-weight: 700;
   padding-left: 1px;
   letter-spacing: -1px;
}

.featured__gallery {
   display: flex;
   justify-content: space-between;
   padding-top: 50px;
   gap: 30px;
}

.featured__gallery__card {
   position: relative;
}

.featured__gallery__button {
   border-radius: 50%;
   background-color: #ffffff;
   box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
   background-color: #ffffff;
   width: 48px;
   height: 48px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-right: 6px;
}

.featured__gallery__button:hover {
   cursor: pointer;
   opacity: 70%;
}

.featured__gallery__button:active {
   background-color: #9c9c9c;
}

.featured__gallery__button__arrow {

   border-top: 3px solid #000;
   border-right: 3px solid #000;
   width: 13px;
   height: 13px;
   transform: rotate(45deg)
}

.featured__gallery__photo {
   cursor: pointer;
}

.featured__gallery__description {
   position: absolute;
   display: flex;
   flex-direction: column;
   align-items: center;
   top: 0;
   padding-top: 62px;
   background-color: rgba(255, 255, 255, 0.9);
   padding-bottom: 63px;
   border: 1px solid #9c9c9c;
   display: none;
}

.featured__gallery__card:hover .featured__gallery__description {
   display: flex;
}

.featured__title {
   padding-top: 12px;
   padding-right: 1px;
   color: #212121;
   font-size: 22px;
   font-weight: 700;
   letter-spacing: -0.5px;
}

.featured__subtitle {
   text-align: center;
   padding: 14px 32px 0 32px;
   color: #6c6c6c;
   font-size: 14px;
   font-weight: 300;
   letter-spacing: -0.2px;
   line-height: 21px;
}

.featured-tabs-new {
   padding-left: 8px;
   padding-right: 23px;
   color: #6c6c6c;
   border-bottom: 1px solid #6c6c6c;
}

.featured-tabs-new:hover {
   cursor: pointer;
   opacity: 80%;
}

.featured-tabs-new:active {
   border-bottom: 3px solid #212121;
   color: #212121;
   font-weight: 700;
}

.explore {
   color: #212121;
   font-size: 18px;
   font-weight: 700;
   letter-spacing: 2.5px;
   text-transform: uppercase;
   padding-top: 21px;
}

.arrow__explore {
   padding-left: 3px;
}

.chair__info {
   display: flex;
   justify-content: space-between;
   margin: 0;
   width: 100%;
   max-width: 100%;
}

.chair_red {
   width: 50%;
   background-image: url(./img/slider__chair_\ red.png);
   padding-bottom: 267px;
}

.chair__container {
   padding-left: 51px;
}

.chair_brown {
   width: 50%;
   background-image: url(./img/slider__chair_\ brown.png);
}

.chair__exclusive {
   padding-top: 224px;
   color: #1e88e5;
   text-transform: uppercase;
   letter-spacing: 1px;
}

.chair__name {
   color: #212121;
   font-size: 36px;
   font-weight: 700;
   padding-top: 6px;
   letter-spacing: -1.3px;
}

.chair__subtitle {
   color: #6c6c6c;
   font-size: 14px;
   font-weight: 300;
   line-height: 24.04px;
   padding-top: 9px;
   padding-bottom: 40px;
   letter-spacing: -0.15px;
   max-width: 403px;
   padding-right: 25px;
}

.chair__button {
   padding-right: 30px;
}

.fishnet-chair__controllers {
   padding-top: 151px;
   padding-bottom: 18px;
}

.controllers {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 11px;
}

.label__radio {
   border-radius: 50%;
   width: 30px;
   height: 30px;
   background-color: #212121;
   opacity: 0.2;
}

.radio:checked+.label__radio {
   width: 40px;
   height: 40px;
   background-color: #212121;
   opacity: 1;
}

.label__radio:hover {
   cursor: pointer;
   opacity: 0.4;
}

.trending-products__name {
   display: flex;
   justify-content: space-between;
   padding-top: 113px;
   margin-left: 98px;
}

.trending__container {
   margin: 0;
   max-width: 100%;
   padding-right: 97px;
}

.trending-products__title {
   color: #212121;
   font-size: 36px;
   font-weight: 700;
   letter-spacing: -1.2px;
}

.trending-products__explore {
   letter-spacing: 2.8px;
   padding-top: 20px;
}

.explore:hover {
   cursor: pointer;
   opacity: 80%;
}

.container__gallery-products {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 30px;
   padding-top: 61px;
   padding-left: 97px;
   padding-bottom: 119px;
}

.fishnet-chair_brown {
   background-image: url(./img/slider__table-brown.png);
}

.fishnet-chair_brown__controllers {
   padding-top: 238px;
   padding-bottom: 20px;
}

.chair__hot {
   color: #e53935;
   text-transform: uppercase;
   padding-top: 283px;
   letter-spacing: 1.3px;
}

.chair__furniture__container {
   display: flex;
   justify-content: space-between;
   gap: 15px;
   margin-top: 120px;
   margin-bottom: 120px;
}

.chair__furniture__pillow {
   background-image: url(./img/slider__pillow.png);
   padding-left: 31px;
   padding-bottom: 196px;
   background-repeat: no-repeat;
   width: 100%;
}

.chair__furniture__exclusive {
   padding-top: 181px;
}

.chair__furniture__subtitle {
   min-width: 404px;
   padding-right: 35px;
}

.chair__furniture__gallery {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 29px;
}

.find {
   background-image: url(./img/slider_telefon.png);
   padding-bottom: 120px;
}

.find__mobile-app {
   text-transform: uppercase;
   padding-top: 121px;
   color: #6c6c6c;
   font-size: 18px;
   font-weight: 700;
   letter-spacing: 1.3px;
}

.find__title {
   letter-spacing: -5.5px;
   margin-right: 8px;
   padding: 0;
}

.find__title-follow {
   max-width: 434px;
   padding: 0;
   letter-spacing: -6.5px;
}

.find__title-Favorite {
   letter-spacing: -4.5px;
   padding-bottom: 1px;
}

.find__subtitle {
   padding-top: 4px;
   letter-spacing: -0.3px;
   color: #6c6c6c;
   font-size: 22px;
   font-weight: 300;
}

.find__play-market {
   padding-top: 32px;
}

.img__google-play {
   margin-left: 6px;
}

.img__play:hover {
   opacity: 80%;
   cursor: pointer;
}

.footer {
   background-color: #f7f7f7;
   padding-bottom: 30px;
}

.footer-container {
   display: flex;
   justify-content: space-between;
   gap: 41px;
}

.footer__name {
   color: #6c6c6c;
   font-size: 18px;
   font-weight: 700;
   padding-bottom: 12px;
   padding-top: 111px;
   text-transform: uppercase;
   padding-bottom: 14px;
   letter-spacing: 1.3px;
}

.footer__info {
   color: #212121;
   font-size: 14px;
   font-weight: 300;
   line-height: 22px;
   letter-spacing: -0.15px;
}

.footer__info:hover,
.footer__info_bold:hover {
   cursor: pointer;
   color: #a9a5a5;
}

.lets-stay__subtitle:hover {
   cursor: auto;
   color: #212121;
}

.contact-us__telefon {
   padding-top: 22px;
}

.contact-us__mail {
   letter-spacing: -0.3px;
}

.useful-information {
   min-width: 431px;
   margin-right: 31px;
}

.useful-information__title {
   letter-spacing: 1.65px;
   padding-bottom: 16px;
}

.useful-information__container {
   display: flex;
   justify-content: space-between;
   gap: 96px;
   min-width: 425px;
}

.useful-information__block-two {
   margin-right: 3px;
}

.architect-accounts__word {
   letter-spacing: 0px;
}

.footer__info_bold {
   font-size: 14px;
   font-weight: 700;
   letter-spacing: 0.7px;
   text-transform: uppercase;
   padding-bottom: 10px
}

.lets-stay__subtitle {
   max-width: 412px;
}

.useful-information__sales {
   padding-top: 0px;
}

.footer-email__container {
   position: relative;
   max-width: 370px;
   margin-top: 24px;
   border: 1px solid #d9dee1;
}

.footer-email {
   width: 100%;
   padding: 14px 50px 14px 19px;
   color: #6c6c6c;
   font-size: 14px;
   font-weight: 300;
   letter-spacing: -0.25px;
   border: none;
   outline: none;
}

.footer-email:focus {
   background-color: #e7e5e5;
   color: #212121;
}

.footer-email__button {
   position: absolute;
   height: 100%;
   width: 49px;
   background-color: #ffffff;
   border: none;
   outline: none;
   right: 0;
}

.footer-email__send {
   width: 21px;
}

.footer-email__send:hover {
   cursor: pointer;
   opacity: 80%;
}

.terms {
   letter-spacing: 0.4px;
}

.policies__text {
   color: #6c6c6c;
   font-size: 12px;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 0.35px;
   padding-top: 2px;
}

.policies__text__condition {
   letter-spacing: 0.5px;
   padding-right: 1px;
}

.icon {
   width: 28px;
   margin-left: 1px;
}

.icon:hover {
   cursor: pointer;
   opacity: 80%;
}

.additional__information {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   align-items: center;
   margin-top: 53px;
}

.icon__social-medias {

   margin-top: 7px;
   padding-right: 13px;
}

.icon__pinterest {
   margin-left: 3px;
}